@font-face {
    font-family: "Redaction";
    src: url('/fonts/Redaction-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Redaction-10";
    src: url('/fonts/Redaction_10-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Redaction-20";
    src: url('/fonts/Redaction_20-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Redaction-35";
    src: url('/fonts/Redaction_35-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Redaction-50";
    src: url('/fonts/Redaction_50-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#animated-logo {
    font-family: "Redaction", serif;
    font-size: 12.5vw;
    color: white;
}

.fontslide {
    animation: 0.75s infinite alternate ease-in-out fontslide;
}

@keyframes fontslide {
    0% { font-family: "Redaction", serif; }
    25% { font-family: "Redaction-10", serif; }
    50% { font-family: "Redaction-20", serif; }
    75% { font-family: "Redaction-35", serif; }
    100% { font-family: "Redaction-50", serif; }
}